.Display {
    padding: 20px;
    border: 2px solid white;
    box-sizing: border-box;
    cursor: pointer;
    color:white;
}

.Display button:hover,
.Display button:active {
    color: blue;
} 


.Display button {
    position: center;
    border-radius: 5px;
    padding: 10px;
    width: 60px;
    background-color: #67c3f5;

} 
.Display td, .Display tr {
    border: 2px solid white;
    width: 500px;
    text-align: center;
    
}
